@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

•⁠ ⁠ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgba(0, 128, 128, 0.858);
  --color-secondary: rgb(77, 85, 204);
  --header-color: #4f46e5;
  --btn-color: linear-gradient(to right, #7b4eff, #a855f7);
  --color-accent: rgb(122, 115, 209);
  --color-light: rgb(181, 168, 213);
  --font-color: #ffffff;
  --font-color-secondary: #0c0c0c;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Poppins", sans-serif;
}

.section {
  min-height: 100vh;
  position: relative;
}
.section-header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.section-header span {
  color: var(--header-color);
  position: relative;
}
/* ============================================================= */
/* ================== NAV BAR DESIGN =========================== */
/* ============================================================= */

.nav-bar {
  background-color: var(--color-accent);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  position: fixed;
  z-index: 1000;
  top: 1rem;
  right: 1rem;
  left: 1rem;
}

.nav-bar .logo h1 {
  margin-left: 2.5rem;
  font-size: 1.5rem;
  color: var(--font-color);
}

.nav-bar .nav-options {
  display: flex;
  justify-content: center;
}

.nav-bar .nav-options ul {
  display: flex;
  margin-right: 5rem;
}

.nav-bar .nav-options ul a {
  text-decoration: none;
}

.nav-bar .nav-options ul a li {
  list-style: none;
  color: var(--font-color);
  padding: 0px 0px 4px 0px;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  transition: all ease-in 0.2s;
}

.nav-bar .nav-options ul a li:hover {
  color: blue;
  transform: scale(1.05);
  border-bottom: 1.5px solid blue;

  animation: navHover 0.3s ease-in-out forwards;
}

@keyframes navHover {
  0% {
    padding: 0rem 0rem 0rem 0rem;
  }

  100% {
    padding: 0rem 0rem 0.25rem 0rem;
  }
}

/* ============================================================= */
/* ================== HOME SECTION DESIGN ====================== */
/* ============================================================= */

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home .home-left-section .home-text-1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.home .home-left-section .home-text-1 span {
  color: orange;
}

.home .home-left-section .home-text-2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
}

.home .home-left-section .home-about-me-btn .fa-regular {
  font-size: 1.5rem;
}
.home .home-left-section a {
  text-decoration: none;
}
.home .home-left-section .home-about-me-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  font-weight: 600;
  color: white;
  background: linear-gradient(to right, #7b4eff, #a855f7);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.home .home-left-section .home-about-me-btn:hover {
  transform: scale(1.03) translateY(-2px);
  box-shadow: 0 8px 12px rgba(123, 78, 255, 0.4);
}

.home .home-left-section .social-icons {
  display: flex;
  margin-top: 1.5rem;
  padding: 0;
  gap: 0.75rem;
}
.home .home-left-section .social-icons li {
  list-style: none;
}
.home .home-left-section .social-icons li {
  background: linear-gradient(to right, #7b4eff, #a855f7);
  text-decoration: none;
  height: 3rem;
  border-radius: 50%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-left-section .social-icons li a {
  margin: 0px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .home-left-section .social-icons li a i {
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  color: rgb(255, 255, 255);
}

.home .home-left-section .social-icons li a i:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: aquamarine;
}

/* .home .home-right-section {
 
} */
.home .home-right-section img {
  height: 24rem;
  object-fit: cover;
  width: 24rem;
  border-radius: 50%;
}

/* ============================================================= */
/* ================= ABOUT SECTION DESIGN ====================== */
/* ============================================================= */

.about {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
}
.fa-user {
  margin-right: 10px;
}
.about-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about-left-section {
  height: 30rem;
  width: 30rem;
}

.about-left-section img {
  height: 30rem;
  width: 30rem;
  max-width: 400px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 1rem;
  filter: grayscale(100%) brightness(95%);
  transition: all 0.3s;
}

.about-left-section img:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.2));
}

.about-right-section {
  text-align: justify;
  max-width: 35%;
}
.about-right-section h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
.about-right-section .about-text-1 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: -10px;
}
.about-right-section .about-text-2 {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--font-color-secondary);
}
.about-right-section .about-email span {
  color: blue;
}
.about-right-section .about-place span {
  color: blue;
}
.about-resume-btn {
  margin-top: 2rem;

  padding: 12px 28px;
  color: white;
  background: linear-gradient(to right, #7b4eff, #a855f7);
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}
.about-resume-btn:hover {
  transform: scale(1.1) translateY(-2px);
  box-shadow: 0 8px 12px rgba(123, 78, 255, 0.4);
}

/* ============================================================= */
/* ================= Skill SECTION DESIGN ====================== */
/* ============================================================= */

.skill {
  padding: 5rem 1.25rem;
  background: #d8d5d5;
}
.skill-header {
  margin: 0;
}

.fa-laptop-code {
  margin-right: 10px;
}

.skill-intro-text {
  color: var(--color-secondary);
  text-align: center;
  font-weight: 600;
  margin: 0;
  font-size: 1.2rem;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 2.25rem;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.skill-card {
  padding: 2rem;
  background: var(--color-accent);
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: var(--color-secondary);
}

.skill-card h3 {
  color: var(--font-color);
  letter-spacing: 1px;
}
.skill-card p {
  font-size: 1rem;
  color: #fafaff;
  letter-spacing: 1px;
}
.skill-icon {
  font-size: 6rem;
  margin: 0.85rem;
  color: white;
}

/* ============================================================= */
/* ================ Education SECTION DESIGN ====================== */
/* ============================================================= */

.education-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
}
.eduction-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
}

.eduction-header h3 {
  margin-bottom: -1rem;
}
.eduction-header p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.eduction1 {
  display: flex;
  background: var(--color-accent);
  height: 11.7rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  gap: 2rem;
  width: 70rem;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}
.eduction1:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: var(--color-secondary);
}
.eduction-container .eduction1 .education-left-side img {
  height: 186px;
  width: 265px;
  object-fit: cover;
}

.eduction-container .eduction1 .education-right-side {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.eduction-container .eduction1 .education-right-side h3 {
  color: var(--font-color);
  font-size: 1.7rem;
  margin: 1rem 0 0 0;
  font-weight: 600;
}
.eduction-container .eduction1 .education-right-side .education-text1 {
  font-size: 1.2rem;
  color: var(--font-color);
  margin: 1rem 0 0 0;
  padding: 0;
  font-weight: 300;
}
.eduction-container .eduction1 .education-right-side .education-text2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--font-color);
}

/* ============================================================= */
/* ================ work SECTION DESIGN ====================== */
/* ============================================================= */

.work {
  padding: 50px 20px;
  background: radial-gradient(
      1200px 500px at 50% 10%,
      rgba(48, 15, 96, 0.9),
      transparent 20%
    ),
    linear-gradient(180deg, #050026, #0b0b3a 55%);
  color: #fff;
}

.projects-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.project-card {
  position: relative;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(3, 6, 20, 0.6);
  transition: 0.3s ease;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.7);
  .caption:hover{
    transform: translateY(-100px);
  }
}

.work-img {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.caption p{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 14px;
  background: #ffd400;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 800;
  font-size: 18px;
  color: #071217;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
 
 
}
.discription p{
 
  transform: translatey(300px);
}

/* ============================================================= */
/* ================ work SECTION DESIGN ====================== */
/* ============================================================= */

.contact {
  background-color: #d2dcf1;

}

.contact-info{ 
  display: flex;
 flex-direction: column;
}

.contact-input-box {
  padding: 15px;
  border-radius: 4px;
  border: 2px solid var(--font-color-secondary);
  width: 35rem;
}